<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Data Access Objects -->
    <bean id="adminUserDataAccess" class="cn.edu.seu.cose.jellyjolly.quizard.dao.impl.MockAdminUserDataAccess"/>
    <bean id="quizPackDataAccess" class="cn.edu.seu.cose.jellyjolly.quizard.dao.impl.MockQuizPackDataAccess"/>

    <!-- Service Objects -->
    <bean id="adminUserService" class="cn.edu.seu.cose.jellyjolly.quizard.service.impl.AdminUserServiceImpl">
        <constructor-arg ref="adminUserDataAccess"/>
    </bean>
    <bean id="quizService" class="cn.edu.seu.cose.jellyjolly.quizard.service.impl.QuizServiceImpl">
        <constructor-arg ref="quizPackDataAccess"/>
        <constructor-arg>
            <null/>
        </constructor-arg>
    </bean>
    <bean id="spellService" class="cn.edu.seu.cose.jellyjolly.quizard.service.impl.SpellServiceImpl"/>

    <!-- Controllers -->
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.AboutController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.CommunityController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.HomepageController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.GetStartedController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.LoginController">
        <constructor-arg ref="adminUserService"/>
    </bean>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.LogoutController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.RegisterController">
        <constructor-arg ref="adminUserService"/>
    </bean>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.RepositoryController">
        <constructor-arg ref="quizService"/>
    </bean>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.ServiceController"/>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.QuizController">
        <constructor-arg ref="quizService"/>
    </bean>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.SpellParserController">
        <constructor-arg ref="spellService"/>
    </bean>
    <bean class="cn.edu.seu.cose.jellyjolly.quizard.controller.EditorController"/>
</beans>
